/* Elements' styling */

body {
    background-color: #d6e2f0;
    background-color: hsl(212, 46%, 89%);
    font-family: 'Outfit', sans-serif;
    margin: auto;
}

main {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 8rem 48rem;
}

h1 {
    font-family: 'Outfit', sans-serif;
    color: #1f3251;
    color: hsl(218, 44%, 22%);
    font-weight: 700;
    font-size: 1.7rem;
    margin: 5%;
}

/* Classes */
.container {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 100%;
    background-color: #ffffff;
    background-color: hsl(0, 0%, 100%);
    border-radius: 5%;
    padding: 5%;
}

.qr-code {
    border-radius: 5%;
    max-width: 100%;
}

/* Using .9375rem instead of 15px for scalability */
.scan-qr-code {
    font-family: 'Outfit', sans-serif;
    font-weight: 400;
    font-size: .9375rem;
    color: #7b879d;
    color: hsl(220, 15%, 55%);
    margin: 0;
}

/* Using .6875rem instead of 11px for scalability */
.attribution {
    font-size: .6875rem;
    text-align: center;
}

.attribution a {
    color: #3e52a3;
    color: hsl(228, 45%, 44%);
}